
/* Reset Css */
* {
  padding: 9;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  font-family: "Jost", sans-serif;
}


:root {
  --principal-color: #cf0018;
  --rosaClaro-color: #ebced3;
  --secundaria-color: #f4ddd6;
  --outras-color: #f4ddd6;
  --secondBg-color: #f5f5f5;

}